<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary, id: :issue_summary %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :issue_status %>
  </div>

  <div class="field">
    <%= form.label :reporter_id %>
    <%= form.text_field :reporter_id, id: :issue_reporter_id %>
  </div>

  <div class="field">
    <%= form.label :assignee_id %>
    <%= form.text_field :assignee_id, id: :issue_assignee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
